<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Server Error </h2>
                <div class="error-details">
                Unfortunately your request is not found. Please come back in a while.
                </div>
                <div class="error-actions">
                    <a  class="btn btn-primary btn-lg" [routerLink]="['']"><span class="glyphicon glyphicon-home"></span>
                        Take Me Back </a>
                </div>
            </div>
        </div>
    </div>
</div>
