::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2A79FF!important;
}

.overlay{
    height:70vh;
    width:100%;
    position: relative;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}