

<form #searchForm="ngForm" class="form">
    <mat-form-field class="full-width">
        <mat-label>Search Database ...</mat-label>
        <input matInput placeholder="Search Database ..." name="searchTerm" ngModel>
    </mat-form-field> 
</form>  

<app-loader *ngIf="loader.isLoading | async"></app-loader>

<div *ngIf="!(loader.isLoading | async)"> 
    <mat-card >
        <mat-card-title>Database list</mat-card-title>
    </mat-card>
    <div class="flex-container">
        <ng-container *ngFor="let db of item; let i= index">
            <mat-card>
                <a [routerLink]="!(noAccessDb.includes(db.name.toLowerCase())) ? ['/db/info',db.name] : ['/db']" disabled>
                    <mat-card-subtitle><strong>{{i+1}} . {{db.name}} <mat-icon class="float-right">arrow_forward_ios</mat-icon></strong></mat-card-subtitle>
                    <span class="badge badge-danger" *ngIf="noAccessDb.includes(db.name.toLowerCase()) ; else access">No Access</span>
                    <ng-template #access>
                        <span class="badge badge-success" >Access</span>
                    </ng-template>
                   
                </a>
                <mat-divider></mat-divider>
            </mat-card>
        </ng-container>
    </div>
</div>


<app-servererror *ngIf="error && !(loader.isLoading | async)" [errorText]='error' ></app-servererror>
<app-notfound *ngIf="dataErr && item.length==0 && !(loader.isLoading | async)"></app-notfound>