<app-loader *ngIf="loader.isLoading | async"></app-loader>

<form #searchForm="ngForm" class="form">
    <mat-form-field class="full-width">
        <mat-label>Search Database ...</mat-label>
        <input matInput placeholder="Search Database ..." name="searchTerm" ngModel>
    </mat-form-field> 
</form>  

<div *ngIf="!(loader.isLoading | async)"> 
    <mat-card >
        <mat-card-title>Database list</mat-card-title>
    </mat-card>
    <div class="flex-container">
        <ng-container *ngFor="let db of item">
            <mat-card>
                <mat-card-subtitle><strong>{{db.name}}</strong></mat-card-subtitle>
                <mat-divider></mat-divider>
                <img mat-card-image src="../../../assets/FMP_icon.png">
                <mat-card-actions>
                    <a mat-raised-button color="primary" [routerLink]="['/db/layouts',db.name]">layouts</a>
                    <a mat-raised-button color="primary" [routerLink]="['/db/scripts',db.name]">scripts</a>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </div>
</div>


<app-servererror *ngIf="error && !(loader.isLoading | async)" [errorText]='error' ></app-servererror>
<app-notfound *ngIf="dataErr && item.length==0 && !(loader.isLoading | async)"></app-notfound>