<app-loader *ngIf="loader.isLoading | async"></app-loader>

<form #searchForm="ngForm" class="form">
    <mat-form-field class="full-width">
        <mat-label>Search Database ...</mat-label>
        <input matInput placeholder="Search Database ..." name="searchTerm" ngModel>
    </mat-form-field> 
</form> 

<div *ngIf="!(loader.isLoading | async)">
    <mat-card >
        <mat-card-title>Layout present in {{db}}</mat-card-title>
    </mat-card>
    <div class="flex-container">
        <ng-container *ngFor="let layout of data">
            <mat-card>
                <mat-card-subtitle><strong>{{layout.name}}</strong></mat-card-subtitle>
                <img mat-card-image src="../../../assets/FileMaker_(app)_Logo.png">
                <mat-card-actions>
                    <a mat-raised-button color="primary" [routerLink]="['/db/layouts',db,layout.name]">More Info </a>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </div>
</div>

<app-servererror *ngIf="error && !(loader.isLoading | async)" [errorText]='error' ></app-servererror>
<app-notfound *ngIf="dataErr && data.length==0 && !(loader.isLoading | async)"></app-notfound>